@import "../../global.scss";

.intro {
    background-color: #eef5f3;
    display: flex;
    @include mobile {
        flex-direction: column;
        align-items: center;
    }

    .left {
        flex: 0.5;
        overflow: hidden;

        .imageContainer {
            width: 700px;
            height: 700px;
            background-color:#a8dadc;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;

            @include mobile {
                align-items: start;
            }

            img {
                width: 90%;

                @include mobile{
                    height: 60%;
                    width: 60%;
                }
            }
        }
    }    
    .right {
        flex: 0.5;
        position: relative;
        overflow: hidden;

        .wrapper {
            
            width: 100%;
            height: 100%;
            padding-left: 200px;
            padding-top: 2em;
            display: flex;
            flex-direction: column;
            justify-content:center;

            @include mobile {
                padding-left: 0;
                align-items: center;
            }

            h1 {
                font-size: 60px;
                margin: 10px 0;

                @include mobile {
                    font-size: 40px;
                }
            }
            h2 {
                font-size: 35px;
            }
            h3 {
                font-size: 30px;

                @include mobile {
                    font-size: 20px;
                }
                
                span {
                    font-size:inherit;
                    color: #e75257;
                }
            }
        }
        a {
            position: absolute;
            bottom: 10px;
            left:40%;
            img {
                width: 30px;
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink {
                100% {
                    opacity: 0;
                }
            }
        }
    }
}